<%= render 'searches/searchbox' %>
<% if @range == "User" %>
<h2>Users search for "<%= @word %>" </h2>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th>Introduction</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
      <td><%= link_to user.name, user_path(user.id) %></td>
      <td><%= user.introduction %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<% @books.each do |book| %>
<h2>Books search for "<%= @word %>" </h2>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag book.user.get_profile_image, size:'50x50' %></td>
      <td><%= link_to book.title, book_path(book.id) %></td>
      <td><%= book.body %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
